<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="HCISSecondWard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="HCISSecondWard.Properties.Settings.SecurityControlConnectionString"
        connectionString="Data Source=172.30.1.145;Initial Catalog=SecurityControl;Persist Security Info=True;User ID=artp;Password=506070"
        providerName="System.Data.SqlClient" />
    <add name="HCISSecondWard.Properties.Settings.HCISConnectionString"
        connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
        providerName="System.Data.SqlClient" />
    <add name="HCISSecondWard.Properties.Settings.HCISConnectionString1"
        connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
        providerName="System.Data.SqlClient" />
    <add name="HCISSecondWard.Properties.Settings.ImageServerConnectionString"
        connectionString="Data Source=192.168.4.251;Initial Catalog=ImageServer;Persist Security Info=True;User ID=asfiya;Password=ea!as()"
        providerName="System.Data.SqlClient" />
    <add name="HCISSecondWard.Properties.Settings.HCISConnectionString2"
        connectionString="Data Source=.;Initial Catalog=HCIS;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="HCISSecondWard.Properties.Settings.HCISConnectionString3"
        connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <HCISSecondWard.Properties.Settings>
            <setting name="LabelPrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
        </HCISSecondWard.Properties.Settings>
    </userSettings>
</configuration>
