<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HCISLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HCISLab.Properties.Settings.HCISConnectionString1"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HCISLab.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=Hospital;Persist Security Info=True;User ID=asfiya;Password=ea!as()"
            providerName="System.Data.SqlClient" />
        <add name="HCISLab.Properties.Settings.IMPHOConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=IMPHO;Persist Security Info=True;User ID=asfiya;Password=ea!as()"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <HCISLab.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Office 2010 Blue</value>
            </setting>
            <setting name="InstallLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelPrinterName" serializeAs="String">
                <value />
            </setting>
        </HCISLab.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
