<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HCISPatientCase.Properties.Settings.HCISConnectionString"
            connectionString="Data Source=.;Initial Catalog=HCIS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>