<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HCISAdmission.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HCISAdmission.Properties.Settings.HCISConnectionString" connectionString="Data Source=.;Initial Catalog=HCIS;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="HCISEntities" connectionString="metadata=res://*/Data.HCISAdmission.csdl|res://*/Data.HCISAdmission.ssdl|res://*/Data.HCISAdmission.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HCIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="HCISEntities1" connectionString="metadata=res://*/HCISAdmission.csdl|res://*/HCISAdmission.ssdl|res://*/HCISAdmission.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HCIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <HCISAdmission.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
    </HCISAdmission.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>