<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Transport.Properties.Settings.TransportConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;User ID=artp;Password=506070;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Transport.Properties.Settings.FamilyHealthConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;User ID=artp;Password=506070;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
