<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HCISShareLibrary.Properties.Settings.hcisConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=hcis;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HCISShareLibrary.Properties.Settings.IMPHOConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=IMPHO;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
