<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Inventory.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=inventory;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.SecurityControlConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=SecurityControl;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.InventoryConnectionString1"
            connectionString="Data Source=172.30.1.145;Initial Catalog=inventory;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.inventoryConnectionString2"
            connectionString="Data Source=172.30.1.145;Initial Catalog=inventory;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.inventoryConnectionString3"
            connectionString="Data Source=172.30.1.145;Initial Catalog=inventory;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.inventoryConnectionString4"
            connectionString="Data Source=172.30.1.145;Initial Catalog=inventory;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Inventory.Properties.Settings>
            <setting name="Install" serializeAs="String">
                <value>0</value>
            </setting>
        </Inventory.Properties.Settings>
    </userSettings>
</configuration>
