<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HCISPsychology.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HCISPsychology.Properties.Settings.HCISConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HCISPsychology.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HCISPsychology.Properties.Settings.ImageServerConnectionString"
            connectionString="Data Source=192.168.4.251;Initial Catalog=ImageServer;Persist Security Info=True;User ID=asfiya;Password=ea!as()"
            providerName="System.Data.SqlClient" />
        <add name="HCISPsychology.Properties.Settings.SecurityControlConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=SecurityControl;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<userSettings>
        <HCISPsychology.Properties.Settings>
                <setting name="Theme" serializeAs="String">
                        <value>Office 2010 Blue</value>
                </setting>
                <setting name="InstallLocation" serializeAs="String">
                        <value />
                </setting>
                <setting name="DefultPharmcy" serializeAs="String">
                        <value />
                </setting>
        </HCISPsychology.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
