<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SATAService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SATAService.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=172.30.1.30;Initial Catalog=Hospital;Persist Security Info=True;User ID=asfiya;Password=ea!as()"
            providerName="System.Data.SqlClient" />
        <add name="SATAService.Properties.Settings.HCISConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HospitalServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.70.70.40/AggregationService/HospitalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HospitalServiceSoap"
                contract="HospitalService.HospitalServiceSoap" name="HospitalServiceSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <SATAService.Properties.Settings>
            <setting name="InstallLocation" serializeAs="String">
                <value>0</value>
            </setting>
        </SATAService.Properties.Settings>
    </userSettings>
</configuration>