<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HCISSecretary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HCISHCISSecretary.Properties.Settings.HCISConnectionString"
            connectionString="Data Source=.;Initial Catalog=HCIS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HCISSecretary.Properties.Settings.HCISConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HCISSecretary.Properties.Settings.SecurityControlConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=SecurityControl;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HCISSecretary.Properties.Settings.IMPHOConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=IMPHO;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HCISSecretary.Properties.Settings.hcisConnectionString1"
            connectionString="Data Source=172.30.1.145;Initial Catalog=hcis;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HCISSecretary.Properties.Settings.HCISConnectionString2"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <HCISSecretary.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Office 2010 Blue</value>
            </setting>
            <setting name="InstallLocation" serializeAs="String">
                <value />
            </setting>
        </HCISSecretary.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
