<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="HCISEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="HCISEmail.Properties.Settings.EmailDBConnectionString"
        connectionString="Data Source=.;Initial Catalog=EmailDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="HCISEmail.Properties.Settings.SecurityControlConnectionString"
        connectionString="Data Source=.;Initial Catalog=SecurityControl;Persist Security Info=True;User ID=artp;Password=506070"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <HCISEmail.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Office 2010 Blue</value>
            </setting>
        </HCISEmail.Properties.Settings>
    </userSettings>
</configuration>
