<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HealthAndFamilyReportHCIS.Properties.Settings.HCISConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HealthAndFamilyReportHCIS.Properties.Settings.JamiatConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=Jamiat;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HealthAndFamilyReportHCIS.Properties.Settings.HCISConnectionString1"
            connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="HealthAndFamilyReportHCIS.Properties.Settings.IMPHOConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=IMPHO;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
