<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HCISMedicalDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HCISMedicalDoc.Properties.Settings.MedicalDocConnectionString"
            connectionString="Data Source=.;Initial Catalog=MedicalDoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HCISMedicalDoc.Properties.Settings.HCISConnectionString"
            connectionString="Data Source=.;Initial Catalog=HCIS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HCISMedicalDoc.Properties.Settings.SecurityControlConnectionString"
            connectionString="Data Source=.;Initial Catalog=SecurityControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HCISMedicalDoc.Properties.Settings.JamiatConnectionString"
            connectionString="Data Source=.;Initial Catalog=Jamiat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HCISMedicalDoc.Properties.Settings.MedicalDocConnectionString1"
            connectionString="Data Source=.;Initial Catalog=MedicalDoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <HCISMedicalDoc.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Office 2013 Dark Gray</value>
            </setting>
            <setting name="InstallLocation" serializeAs="String">
                <value />
            </setting>
        </HCISMedicalDoc.Properties.Settings>
    </userSettings>
</configuration>
