<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMOApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OMOApp.Properties.Settings.IMPHOConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=IMPHO;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="OMOApp.Properties.Settings.IndustrialMedicineConnectionString"
            connectionString="Data Source=172.30.1.30;Initial Catalog=IndustrialMedicine;Persist Security Info=True;User ID=asfiya;Password=ea!as()"
            providerName="System.Data.SqlClient" />
        <add name="OMOApp.Properties.Settings.JamiatConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=Jamiat;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="OMOApp.Properties.Settings.HCISConnectionString" connectionString="Data Source=172.30.1.145;Initial Catalog=HCIS;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="OMOApp.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=Hospital;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="OMOApp.Properties.Settings.OMOConnectionString6" connectionString="Data Source=172.30.1.145;Initial Catalog=OMO;Persist Security Info=True;User ID=artp;Password=506070Data Source=172.30.1.145;Initial Catalog=OMO;Persist Security Info=True;User ID=artp;Password=506070"
            providerName="System.Data.SqlClient" />
        <add name="OMOApp.Properties.Settings.OMOConnectionString2" connectionString="Data Source=172.30.1.145;Initial Catalog=OMO;Persist Security Info=True;User ID=artp;Password=506070Data Source=172.30.1.145;Initial Catalog=OMO;Persist Security Info=True;User ID=artp;Password=506070Data Source=172.30.1.145;Initial Catalog=OMO;Persist Security Info=True;User ID=artp;Password=506070Data Source=172.30.1.145;Initial Catalog=OMO;Persist Security Info=True;User ID=artp;Password=506070" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <OMOApp.Properties.Settings>
            <setting name="ImageServerConnectionString" serializeAs="String">
                <value>Data Source=192.168.4.251;Initial Catalog=ImageServer;Persist Security Info=True;User ID=asfiya;Password=ea!as()</value>
            </setting>
            <setting name="ConnectToHcis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LabelPrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedLab" serializeAs="String">
                <value />
            </setting>
        </OMOApp.Properties.Settings>
    </userSettings>
</configuration>
