<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OccupationalMedicine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OccupationalMedicine.Properties.Settings.OccupationalMedicineConnectionString2"
            connectionString="Data Source=172.30.1.145;Initial Catalog=OccupationalMedicine;Persist Security Info=True;User ID=artp;Password=506070;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="OccupationalMedicine.Properties.Settings.OccupationalMedicineConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=OccupationalMedicine;Persist Security Info=True;User ID=artp;Password=506070;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="OccupationalMedicine.Properties.Settings.OccupationalMedicineConnectionString1"
            connectionString="Data Source=172.30.1.145;Initial Catalog=OccupationalMedicine;Persist Security Info=True;User ID=artp;Password=506070;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="OccupationalMedicine.Properties.Settings.OccupationalMedicine91ConnectionString1"
            connectionString="Data Source=172.30.1.145;Initial Catalog=OccupationalMedicine;Persist Security Info=True;User ID=artp;Password=506070;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="OccupationalMedicine.Properties.Settings.OccupationalMedicineConnectionString3"
            connectionString="Data Source=172.30.1.145;Initial Catalog=OccupationalMedicine;Persist Security Info=True;User ID=artp;Password=506070;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="OccupationalMedicine.Properties.Settings.OccupationalMedicine91ConnectionString"
            connectionString="Data Source=172.30.1.145;Initial Catalog=OccupationalMedicine;Persist Security Info=True;User ID=artp;Password=506070;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <OccupationalMedicine.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>DevExpress Style</value>
            </setting>
            <setting name="SelectedServer" serializeAs="String">
                <value />
            </setting>
        </OccupationalMedicine.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
